@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Merriweather&family=Montserrat&family=Open+Sans:wght@400;700;800&family=Pacifico&family=Rubik+Mono+One&family=Sacramento&family=Work+Sans:wght@400;500;600;700&display=swap");
/* share styles */
.hide {
  display: none;
}
.text-grey {
  color: #727272;
  font-family: Work Sans;
  font-size: 1rem;

  font-weight: 400;
  margin-bottom: 40px;
  margin-top: 20px;
}
.section-tit {
  color: #131313;
  font-family: Work Sans;
  font-size: 2.8125rem;

  font-weight: 700;
  margin-top: 20px;
}
.btn-primary {
  border-radius: 0.5rem;
  background: #ff900e;
  border: none;
  padding: 20px;
  /* width: 11.25rem;
  height: 4rem; */

  color: #fff;
  text-align: center;
  font-family: Work Sans;
  font-size: 1.25rem;

  font-weight: 600;
  margin-bottom: 20px;
}
* {
  font-family: "Work Sans", sans-serif;
  margin: 0;
}
header {
  /* max-width: 1800px;
    margin: 0 auto; */
  background: rgba(255, 144, 14, 0.1);
  padding: 150px 150px;
}
.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav > ul {
  display: flex;
  gap: 20px;
}
nav li {
  list-style: none;
  color: #424242;
  text-align: center;
  font-family: Work Sans;
  font-size: 1.125rem;

  font-weight: 500;
  line-height: 1.625rem; /* 144.444% */
}
nav li a {
  text-decoration: none;
}
.nav-title {
  color: #131313;
  text-align: center;
  font-family: Work Sans;
  font-size: 2.8125rem;

  font-weight: 700;
}
/* Banner Styles */
.banner-content {
  max-width: 700px;
  text-align: center;
  margin: 0 auto;
}
.banner-tittle {
  margin-top: 40px;
  padding: 10px;
  color: #131313;
  text-align: center;
  font-family: Work Sans;
  font-size: 4rem;

  font-weight: 700;
}
.banner-des {
  padding: 5px;
  color: #727272;
  text-align: center;
  font-family: Work Sans;
  font-size: 0.8rem;
  /* border: 1px saddlebrown solid; */
  margin-bottom: 20px;
  font-weight: 400;
  /* 162.5% */
}
.banner-img {
  margin-top: 20px;
  width: 100%;
}

main {
  max-width: 1440px;
  margin: 70px auto;
}
.team-container {
  gap: 4.7rem;
  display: flex;

  align-items: center;

  /* border: 1px solid black; */
}

.team-des-container {
  padding: 50px;
  /* border: #131313 1px solid; */
  text-align: left;
  margin-right: 100px;
}
.team-des-title {
  padding: 10px;

  color: #131313;
  font-family: Work Sans;
  font-size: 2.8125rem;

  font-weight: 700;
}
.quick-span {
  color: #727272;
  font-family: Work Sans;
  font-size: 2.8125rem;

  font-weight: 500;
}
.feature-span {
  color: #ff900e;
  font-family: Work Sans;
  font-size: 2.8125rem;

  font-weight: 700;
}
.team-des-para {
  padding: 10px;
  color: #727272;
  font-family: Work Sans;
  font-size: 1rem;

  font-weight: 400;
  /* 162.5% */
}
.team-img-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);

  gap: 1.5rem;
}
/* Fact Section */
.facts-cards-container {
  display: flex;
  justify-content: space-around;
}
.facts-cards-container .card {
  border-radius: 0.5rem;
  border: 1px solid #ff900e;
  text-align: center;
}
.card {
  padding: 20px 40px;
}

.card-stats {
  color: #424242;

  font-size: 1.25rem;

  font-weight: 600;
}
.card-title {
  color: #727272;

  font-size: 1.2rem;

  font-weight: 600;
}
/* responsive for small */

@media screen and (max-width: 576px) {
  header {
    padding: 20px 20px;
    height: auto;
    width: auto;
  }
  nav ul {
    position: relative;
    right: 15px;
  }

  .nav-container,
  .team-container,
  .facts-cards-container {
    /* display: flex; */
    /* justify-content: space-between; */

    flex-direction: column;
  }
  .team-img-container {
    grid-template-columns: 1fr;
  }
  .team-des-container,
  .facts-cards-container {
    margin: 50px;
  }
  .team-des-para,
  .facts-cards-container {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .facts-cards-container {
    gap: 1.2rem;
  }
  .facts-container{
   margin: 0 45px 0 45px;
  }
}

/* responsive for medium  */
@media screen and (min-width: 577px) and (max-width: 997px) {
  header {
    /* padding: 50px 50px; */
    padding: 170px 150px;
    height: auto;
    width: auto;
  }
  nav ul  {
    position: relative;
    right: 15px;
  }
  .nav-container,
  .team-container {
    flex-direction: column;

    /* display: flex; */
    /* justify-content: space-between; */

    /* flex-direction: column; */
  }
  .team-des-container,.facts-cards-container {
    margin: 50px;
  }
  .team-des-para {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .facts-cards-container {
    gap: 1.2rem;
    
  }
  .facts-container{
   margin: 0 100px 0 100px;
  }
}
